body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1{
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
}
#puzzle-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
}

.piece {
  width: 100px;
  height: 100px;
  background-size: 300px 300px;
  cursor: pointer;
}

/* Apply the blur effect only to the background */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(background.png);
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}
